html {
	width: 100%;
	height: 100%;
	
	background: #191D28; /* Old browsers */
	background: -moz-linear-gradient(top,  #0A9C93 0%, #191D28 40%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0A9C93 0%, #191D28 40%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,   #0A9C93 0%, #191D28 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A9C93', endColorstr='#191D28',GradientType=0 ); /* IE6-9 */
  }
  


body {
	margin: 0;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}
